body{
    background: ;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 20px !important;
}
p{
    font-size: 18px;
}
button{
    background: linear-gradient( 180deg, rgb(182, 40, 40), rgb(238, 6, 238));
    width: 100px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
}
.button2{
    background: linear-gradient( 180deg, rgb(182, 40, 40), rgb(238, 6, 238));
    width: 160px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
}
.banner{}
img{
    width: 65%;
    text-align: center;
}
.img_size1{
    margin-left: 150px;
}

.header_banner{
    background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_banner2{
   background: url(../images/biography-bg.png); 
   background-repeat: no-repeat;
   background-size: cover;
   
}
.my_latest_work{
    margin-top: 50px;
}